*{
    padding: 0;
    margin: 0;
    

        

}
body{
    background-image: url('./assets/image-2.jpg');
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-attachment: '';
    background-position: 'center';
    min-height: '100vh';
}

